@import '../../node_modules/bootstrap/scss/bootstrap-reboot';

$card-border-color: #999;
$card-border-radius: 0;
$card-spacer-y: 12px;
$card-spacer-x: 0;

$input-focus-width: 0.05rem;
$btn-focus-width: 0.15rem;
$input-focus-box-shadow: 0 0 0 $input-focus-width $input-btn-focus-color;

@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/card';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/utilities';

[v-cloak] {
	display: none;
}

#blocks-container {
	position: relative;
	height: 300px;
	@extend .bg-light, .shadow-sm;
}

.card {
	display: inline-block;
	position: absolute;

	input,
	select {
		@extend .form-control, .form-control-sm;
	}
}

.card-header,
.card-body p,
.card-body input {
	font-family: $font-family-monospace;
}

.card-header {
	text-align: center;
	user-select: none;
	padding-bottom: $card-spacer-y - 1px; // to include border-bottom in height calculation
}

.card-body p {
	margin-bottom: 0;
	user-select: none;
}

.card-btn-topleft,
.card-btn-topright,
.card-btn-bottomleft,
.card-btn-bottomright {
	@extend .btn, .btn-light, .btn-sm, .border;
	position: absolute;
	z-index: 11;
}

$card-btn-shift-x: 1.375rem;
$card-btn-shift-y: 1.375rem;

.card-btn-topleft {
	top: -$card-btn-shift-y;
	left: -$card-btn-shift-x;
}

.card-btn-topright {
	top: -$card-btn-shift-y;
	right: -$card-btn-shift-x;
}

.card-btn-bottomleft {
	bottom: -$card-btn-shift-y;
	left: -$card-btn-shift-x;
}

.card-btn-bottomright {
	bottom: -$card-btn-shift-y;
	right: -$card-btn-shift-x;
}

.cursor-move {
	cursor: move !important;
}

.card-edit-padding-x,
.card-edit-padding-y {
	position: absolute;
	z-index: 11;

	> input {
		@extend .p-1, .bg-light;
		height: auto;
		width: 2.45rem;
		font-weight: 500;
		&:focus {
			border-color: theme-color('info');
			box-shadow: 0 0 0 $input-focus-width rgba(theme-color('info'), 0.25);
		}
	}
}

.card-edit-padding-x {
	left: -$card-btn-shift-x;
	top: 50%;
	transform: translateY(-50%);
}

.card-edit-padding-y {
	top: -$card-btn-shift-y;
	left: 50%;
	transform: translateX(-50%);
}

.card-edit-charmap {
	position: absolute;
	bottom: calc(100% + 1.65rem);
	left: 50%;
	transform: translateX(-50%);
	width: 8rem;
	z-index: 10;

	> select {
		@extend .p-1, .bg-light;
		&:focus {
			border-color: theme-color('info');
			box-shadow: 0 0 0 $input-focus-width rgba(theme-color('info'), 0.25);
		}
	}
}

.unicode-double {
	border-width: 3px;
	border-style: double;

	.card-header {
		border-bottom-width: 3px;
		border-bottom-style: double;
		padding: ($card-spacer-y - 1px) $card-spacer-x ($card-spacer-y - 2px);
	}
}

.unicode-heavy {
	border-width: 2px;

	.card-header {
		border-bottom-width: 2px;
		padding: ($card-spacer-y - 1px) $card-spacer-x;
	}
}

.unicode-rounded,
.ascii-rounded {
	border-radius: 6px;
}

.ascii-rounded {
	border-style: dashed;

	.card-header {
		border-bottom-style: dashed;
	}
}

.horizontal-split {
	@extend .my-5;
	position: relative;

	button {
		@extend .btn, .btn-primary;
		position: absolute;
		top: -19px;
		font-weight: 600;
	}

	hr {
		@extend .border-primary;
	}
}
